/* MENU  */
.headerbg{
    background: #aadcec;
    height: 20vh;
}

/* SKILLS */
.skills{
    /* height: 100vh; AAA*/
    background-color: #aadcec;   
}

/* .img3{
    height: fit-content;
    width: 592px;
} */

.skills h2{
    font-family: "Mosk Ultra-Bold 900";
    font-size: 58px;
    font-weight: 700;
    line-height: 69.5px;
    color: rgb(64, 64, 64);
    padding: 80px; 
}

.skills h3{
    font-family: "Mosk Ultra-Bold 900";
    font-size: 34px; 
    font-weight: 700;
    line-height: 34px;
    color: rgb(64, 64, 64);
    margin: 0px 0px 50px 100px; 
}

.skill-list{
    overflow: auto;
    /* border: 2px dashed rgb(204, 197, 197); */
    margin: 0px 50px 0px 50px;
    padding-top: 20px;
    list-style: none;
}

.skill-list img{
    width: 300px;
    border: solid 2px rgb(64, 64, 64);
    box-shadow: .5rem .5rem 0 0 rgb(64, 64, 64);
}

.skill-item .up{
    font-family: "Mosk Bold 700";
    font-size: 17.725px;
    line-height: 22px;
    color: rgb(64, 64, 64);   
    width: fit-content;
    position: relative;
    left: 1.2rem;
    top: -26rem;
    padding: .5rem 1.25rem;
    border: solid 2px rgb(64, 64, 64);
    box-shadow: .5rem .5rem 0 0 rgb(64, 64, 64);
    background-color: #f7f7f7;
}

.skill-item .down{
    font-family: "Mosk Bold 700";
    font-size: 17.725px;
    line-height: 22px;
    color: rgb(64, 64, 64);   
    width: fit-content;
    position: relative;
    left: 1.2rem;
    top: -2rem;
    padding: .5rem 1.25rem;
    border: solid 2px rgb(64, 64, 64);
    box-shadow: .5rem .5rem 0 0 rgb(64, 64, 64);
    background-color: #f7f7f7;
}

.see.n{
    margin-top: 10px;
    position: relative;
    left: 1650px;
}

@media screen and (max-width:1030px){
    .skills h2{
        font-size: 40px;
        line-height: 47px;
        padding: 60px;
        text-align: center;
    }

    .skills h3{
        margin: 0;
        text-align: center;
        padding-bottom: 20px;
    }

    .skill-list img{
        width: 250px;
    }

    .skill-item .up{
        position: relative;
        left: 1.2rem;
        top: -22rem;
    }

    .skill-container{
        border: none;
        padding: 0px;
    }    

    .skill-list{
        margin: 0 0 0 10px;

    }
}
